<div id="compDetails" class="overlay active scroll" ng-escape="goBack()">
	<div class="content">
		<span class="exit close-overlay" title="Cancel" ng-click="goBack()">
			<i class="fa fa-times fa-5x"></i>
		</span>
		<div class="row">
			<div class="small-8 columns small-centered">
				<p style="margin-bottom:0px;"> 
						<a ng-click="showView('model', appCache.currentItem.modelId)" class="info-source-description"
						ng-bind="appCache.currentModel.name"> </a> 
				</p> 
				<h3 class="info-title" ng-bind="appCache.currentItem.title"></h3>
				<p class="info-description" style='margin-bottom: 0px;'
					ng-repeat="description in appCache.currentItem.descriptions">
					{{description.text}}
				</p>
				<br/>
				<p style="font-size:0.7rem;">
					<span class="info-id-entry">{{appCache.currentItem.uri}}</span>
				</p>
				<hr>
				<div>
					<h4>Levels:</h4>
					<ul style='list-style:none;'>
						 <li ng-repeat="id in appCache.currentItem.levelIds"
							title="[{{appCache.levelCache[id].id}}] (Rank {{appCache.levelCache[id].rank}})">
							<span ng-bind="appCache.levelCache[id].name + ' - ' + appCache.levelCache[id].description"></span>
							<br />
						</li>
					</ul>
				</div>
				<hr/>
				<div class="relationships">
					<h4>Relationships:</h4> 
					
					<span ng-hide="objectLength(appCache.currentItem.relationships) != 0">
						This Competency has no Relationships yet! 
					</span> 
					<div ng-repeat="(relationshipType, relationships) in appCache.currentItem.relationships">
						<span class="info-property-item-name">
							{{relationshipType}}: 
						</span> 
						
						<ul class="data-property-values">
							<li data-object-id="12345" ng-repeat="relatedId in relationships"> 
								<a ng-click="showView(appCache.context, relatedId, relatedCompetencies[relatedId].modelId)"
									title="{{relatedCompetencies[relatedId].modelId + '\n' + relatedCompetencies[relatedId].id}}">
									{{relatedCompetencies[relatedId].title}} 
								</a>
									
							</li>
						</ul> 

					</div>

				</div>
				<button class="secondary small"
					ng-click="showEdit(appCache.context, appCache.currentItemId, appCache.currentModelId)"
					ng-hide="session.currentUser.id == session.guestUser.id">
					<i class="fa fa-pencil"></i> Edit
				</button>
				<button class="secondary small" data-reveal-id="modalDeleteComp" ng-hide="true">
					<i class="fa fa-trash-o"></i> Delete
				</button>
				<!--button class="secondary small" >
            <i class="fa fa-user"></i> 
            Find profiles
          </button-->
			</div>
		</div>
	</div>
</div>